<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8">
        <title>1201实验室-石油项目</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="/css/xadmin.css" th:href="@{/css/xadmin.css}">
    </head>
    <body>
    <div class="x-body">

        <form>
            <input type="file" class=" layui-upload-button" name="file" style="display:inline-block" onchange="readWorkbookFromLocalFile(this.files[0])">
        </form>
        <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
        <div id="main" style="width: 75%; height: 400px; display: inline-block; user-select: none;" _echarts_instance_="ec_1666261576661"><div style="position: relative; width: 600px; height: 400px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas style="position: absolute; left: 0px; top: 0px; width: 600px; height: 400px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="600" height="400"></canvas></div></div>
        <div id="main_tips" style="float:right;border-left: 1px solid lightgrey; display:inline-block; width: 20%;height:500px;">
            <h1 style="margin-left:15px;">请输入人为预测位置：</h1><br>
            <form class="layui-form" >

                <input type="text" id="depthValue" name="depth" style="width:120px;display:block;margin-left:15px;" required="" lay-verify="required" placeholder="例如：1800" autocomplete="off" class="layui-input">
                <label class="layui-form-label" style="display: inline-block">米</label>
                <!--lay-filter="formDemo"-->
                        <button onclick="forcastDepth()" class="layui-btn" style="display: inline-block" lay-submit >预测</button>
                        <button  type="reset" style="display: inline-block" class="layui-btn layui-btn-primary">重置</button>
            </form>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">文本域</label>
                <div class="layui-input-block">
                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>

        </div>
    </div>

    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/echarts.js" th:href="@{/js/echarts.js}"></script>
    <script src="/js/xlsx.full.min.js" th:href="@{/js/xlsx.full.min.js}"></script>

    <!--<script src="/js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>-->
    <!--<script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>-->
    <script>
        function forcastDepth() {
            // var depthInputValue2=$('#depthValue').value();
            var depthInputValue=$('#depthValue').val();

            console.log("depthInputValue==>",depthInputValue)
            $.ajax({
                url:"/getDepth?depth=185",
                type:"post",
                dataType:"json",

                sucess:function (data) {
                    console.log("sumce=>",data)
                },
                error:function (data) {
                    console.log('edrr=>',data)
                }
            })
        }

    </script>
        <script>
            // 读取本地excel文件
            function readWorkbookFromLocalFile(file) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var data = e.target.result;
                    var workbook = XLSX.read(data, {type: 'binary'});
                    // 处理excel文件
                    handle(workbook);
                };
                reader.readAsBinaryString(file);
                //通过FileReader对象读取文件，利用js-xlsx转成json数据
                //FileReader共有4种读取方法：
                //1.readAsArrayBuffer(file)：将文件读取为ArrayBuffer。
                //2.readAsBinaryString(file)：将文件读取为二进制字符串
                //3.readAsDataURL(file)：将文件读取为Data URL
                //4.readAsText(file, [encoding])：将文件读取为文本，encoding缺省值为'UTF-8'
            }

            // 处理excel文件

            var date1=[];
            var date2=[];
            function handle(workbook) {
                // workbook.SheetNames[0] excel第一个sheet
                var datas = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]]);
                // console.log("=====");
                // console.log(datas);
                // console.log("=====")
                var title = [];
                var curData=[];//存放data中第一列的值
                if (datas.length > 0) {


                    // 获取列名是汇总列名，避免某行某个字段没有值，会缺少字段
                    // 标题

                    // 获取每行数据
                    first:
                        for (var index in datas) { // datas数组，index为索引
                            // console.log("datas[index]====>"+index)
                            second:
                                for (var key in datas[index]) { // datas[index]对象,key为键
                                    if (-1 === title.indexOf(key)) {
                                        title.push(key);

                                    }
                                }
                        }
                    for(var loop=0;loop<datas.length;loop++){
                        // console.log("----------***-----")
                        // console.log(datas[loop])
                        // console.log("-------------------------")
                        // console.log(datas[loop][title[0]])
                        // console.log("----------***-----")
                        curData.push(datas[loop][title[0]]);
                    }

                    // 列名
                    // console.log("lieming===>"+title);
                    // // 数据
                    // console.log("数据==》"+datas);

                    // //时间转化，并把datas中数据分列
                    // for (var i = 0; i < datas.length; i++) {
                    //     var a = datas[i].time * 24;
                    //     var b = (a - parseInt(a)) * 60;
                    //     var c = (b - parseInt(b)) * 60;
                    //     date1[i] = parseInt(a).toString() + ":" + parseInt(b).toString() + ":" + parseInt(c).toString();
                    //     date2[i] = datas[i].sum;
                    // }
                    //
                    // console.log(date1);
                    // console.log(date2);
                    var xdata=[];
                    for(var loop=0;loop<datas.length;loop++)
                        xdata.push(loop);

                    aaa(xdata,curData,title[0]);
                }
            }
        </script>


        <script type="text/javascript">

            function aaa(xdata,ydata,yname) {
                //找出最大最小值 y轴的
                var ydataMax=ydata[0];
                var ydataMin=ydata[0];
                for(var elem in ydata)
                {
                    if(ydataMax<elem){
                        ydataMax=elem;
                    }
                    if(ydataMin>elem){
                        ydataMin=elem;
                    }
                }
                ydataMin=parseInt(ydataMin);
                ydataMax=parseInt(ydataMax);
                console.log("ydata-Max=>",ydataMax);
                console.log("ydata-Min=>",ydataMin);
                // console.log("title-name=>",yname)
                // console.log("xdata===>begin")
                // for(var loop=0;loop<xdata.length;loop++)
                //     console.log(xdata[loop],ydata[loop])
                // console.log("xdata===>end")
                // var echarts = require('echarts');
                // var echarts = echarts;

                var chartDom = document.getElementById('main');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                    xAxis: {
                        name: '采样点',
                        type: 'category',
                        // axisLabel: {
                        //     interval: xdata.length/10,
                        //     min: 1,
                        //     max: xdata.length
                        // },
                        data: xdata
                        // data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    yAxis: {
                        name: yname,
                        interval: parseInt((ydataMax-ydataMin)/20),
                        // min: ydataMin,
                        // max: ydataMax,
                        type: 'value'
                    },
                    series: [
                        {
                            symbol: "none",
                            itemStyle:{
                                normal:{
                                    lineStyle:{
                                        width:1.2
                                    }
                                }
                            },
                            data: ydata,
                            // data: [820, 932, 901, 934, 1290, 1330, 1320],
                            type: 'line',
                            smooth: true
                        }
                    ]
                };

                option && myChart.setOption(option);
            }
        </script>
    </body>
</html>